@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glass UI */
.glass-ui {
  background: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
}



